<div class="page-header">
  <%= link_to new_pedido_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Pedido
  <% end %>
  <h1>Listing pedidos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Cliente</th>
            <th>Valor total</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedidos) do |pedido| %>
            <td><%= pedido.cliente.nome %></td>
            <td><%= pedido.valor_total %></td>
  <td><%= link_to 'Item', pedido_pedido_produtos_path(pedido) %></td>
         <td><%= link_to 'Mostar', pedido %></td>
        <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Ecluir', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
